@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

/* :root {
  --font-base: "DM Sans", sans-serif;

  --primary-color: #edf2f8;
  /* --secondary-color: #313bac; */
  /* --secondary-color: #56bb00;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --white-color: #ffffff;
} */ 

:root {
  --font-base: "DM Sans",sans-serif;
  --primary-color: #1B1A17;
  --secondary-color: #90e0ad;
  --black-color: #19ffa0;
  --lightGray-color: hsl(38, 48%, 81%);
  --gray-color: #2f9a6d;
  --brown-color: #3f2744;
  --white-color: #fff;
  --green-black:#1b2320;
  --color-gradiende: linear-gradient(90deg, rgba(238,255,212,1) 0%, rgba(93,255,212,1) 50%, rgba(43,240,115,1) 100%);
  --color-gradiende-2: linear-gradient(90deg, rgba(239,244,240,1) 0%, rgba(101,233,193,1) 35%, rgba(205,251,215,0.9388349089635855) 100%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}